body {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    padding: 10px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 111, 97);
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left img {
    width:125px;
    height: 125px;
}

.right ul {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
    margin: 0;
}

.right a {
    text-decoration: none;
    color: black;
}

.header-content {
    padding-top: 40px;
    gap: 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 111, 97);
    padding-bottom: 160px;
}

.header-content .right-side, .header-content .left-side {
    width: 550px;
    height: 250px;
}

.header-content .right-side img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.recipe-button {
    background-color: #3882F6;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    color: #F9FAF8;
}

.content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-bottom: 150px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.box {
    width: 300px;
    height: 300px;
}

.information {
    text-align: center;
    padding: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

h1 {
    margin: 0;
}

/* quote section */

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 800px;
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
}

.quote p {
    margin: 0;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    text-align: right;
    margin-right: 30px;
}

blockquote {
    margin: 0;
}

.quote-block {
    padding: 100px;
}

/* call to action */
.button-sign-up {
    background-color: #3882F6;
    width: 100px;
    height: 35px;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    font-weight: 900;
    color: #F9FAF8;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;

}

.call-to-action h2 {
    color: #F9FAF8;
    margin: 0;
}

.call-to-action p {
    color: #E5E7EB;
    margin: 0;
}

.call-box {
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
    width: 900px;
    height: 150px;
    background-color: #3882F6;
    border-radius: 10px;
}

.footer {
    background-color: rgb(255, 111, 97);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.footer .logo {
        display: flex;
        align-items: center;
        gap: 10px;
}

.footer .logo img {
    width:125px;
    height: 125px;
}
